.levels-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(100vh - 200px);
  margin-top: 40px;
}

.player-container {
  position: relative;
}

.livestream {
  width: 350px;
  height: 320px;
  margin: 0 0 25px 50px;
}

.device-update {
  position: absolute;
  font: 32px Courier New;
  color: #8C7C7C;
  top: 95px;
  left: 115px;
}