.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  height: calc(100vh - 200px);
  margin: 70px 75px 0px 75px;
  align-items: center;
}

.device-update {
  position: absolute;
  font: 32px Courier New;
  color: #8C7C7C;
  top: 95px;
  left: 115px;
}
