.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  height: calc(100vh - 200px);
  margin: 115px 75px 0px 75px;
  align-items: center;
}

textarea {
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #EBDDDD;
  padding: 12px 20px 12px 20px;
  font-family: Courier New;
  color: #8C7C7C;
}

.device-update {
  position: absolute;
  font: 32px Courier New;
  color: #8C7C7C;
  top: 95px;
  left: 115px;
}
