.home {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.left {
    text-align: center;
    /* margin-left: 40px; */
}

.right {
    text-align: center;
    margin: 15px 25px;
}

#description {
    margin-top: -60px;
    margin-left: 15px;
    color: #4141414f;
}

#lab {
    font-size: 90px;
}

