/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: center;
    text-decoration: none; 
    font-size: 25px;
    font-weight: 500;
    border-bottom: 2px solid #4141410a;
    background-color: #4141410a;
    color: #414141;
    margin-bottom: 30px;
}

.login {
  display: flex;
  flex-direction: column;
  margin: 0px 15px -45px 15px;
}

.tab {
  text-decoration: none;
  color: #414141;  
  padding: 10px 15px 10px 15px;
}

.tab:visited {
  color: #414141;
}

.tab:hover {
  font-weight: bold;
}

.tab.active {
  font-weight: bold;
}
  
/* Error Page */
.error {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.error > h1 {
  font-size: 90px;
  margin: 15px;
}

.error > p {
  font-size: 25px;

}

#link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #414141;
}

#link:hover {
  color: #4141417c;
}