
.navbar {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #4141410a;
    background-color: #4141410a;
    color: #414141;
    font-size: 25px;
    font-weight: 500;
    list-style: none;
    text-decoration: none; 
    margin-bottom: 30px;
  }

  .tab {
    text-decoration: none;  
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #414141;
  }

  .tab:visited {
    color: #414141;
  }
  
  .tab:hover {
    font-weight: bold;
  }

  .tab.active {
    font-weight: bold;
  }
  

  .error {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
  }

  .error > h1 {
    margin: 15px;
    font-size: 90px;
  }

  .error > p {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 25px;

  }

#link {
  text-decoration: none;
  margin-bottom: 15px;
  color: #414141;
  font-weight: bold;
  font-size: 20px;
  }

  #link:hover {
    color: #4141417c;
  }