    .admin {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .admin > form {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: #414141;
    }

    #form-title {
        display: inline-block;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 35px;
        font-size: 45px;
        font-weight: 500;
        background-color: #414141;
        color: #ffffff;
        width: 250px;
        padding: 10px;
        border-radius: 12px;
    }

    /*.label from quickOrder*/
    /*.buttons, #submit, and #back from quickOrder*/

    .admin-input {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ECE4E47A;
        height: 60px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 12px;
        margin-bottom: 25px;
    }

    #name, #role, #email, #phone,
    #item-name, #curr-quantity, #min-quantity {
        border: none;
        text-align: center;
        font-size: 18px;
        height: 30px;
        padding-left: 5px;
        padding-right: 5px;
        color: #414141;
    }

    /*user manager form*/

    #name {
        width: 135px;
        height: 30px;
    }

    #role {
        width: 145px;
    }

    #email {
        width: 140px;
    }

    #phone {
        width: 135px;
    }

    /*inventory manager form*/

    #item-name {
        width: 170px;
    }

    #curr-quantity {
        width: 55px;
        padding-right: 0px;
    }

    #min-quantity {
        width: 60px;
        padding-right: 0px;
    }
  /* Admin Table Actions */
  .actions > button {
    text-decoration: none;
    color: #414141;
    background: none;
    width: auto;
  }

  .actions > button:hover {
    text-decoration: underline;
    border: none;
  }

  .adminButtons {
      margin-left: 35px;
      margin-bottom: 30px;
      margin-top: 20px;
  }

  /* admin page buttons */
  .adminButtons > a {
    text-decoration: none;
    margin-top: 20px;
    margin-right: 25px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background: #414141;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-top: 50px;
  }
  
  .adminButtons > a:hover {
    background: #41414111;
    color: #414141;
    font-weight: bold;
  }
